<header id="header">
	<a href="{{ site.baseurl }}">
		<img class="img-circle" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17990988_10211563388112589_7168130595055476781_n.jpg?oh=2b5c14dc7b18f81b7da0f231f4baaa8f&oe=59FE08B1" alt="Emerald Logo">
	  <h3>This is a simple blog about one of my passions: The traditional bulgarian dances, about a small dance group which is united by a single toght: to preserv the bulgarian spirit away from home and to present the bulgarian traditions all over the world.</h3>
	</a>
	
</header>
