/*- Custom style -*/

.img-circle {
    border-radius: 50%;
	width:25%;
	height:25%;
}

.official {
	width:10%;
}


/* playlists */

.album{
	width:80%;
	height:80%;
}

.playlist{
	text-align: center;
	border: 3px solid;
	border-color: green;
}

.playlist> ul> li{
	list-style: none;
}

/*   --Page Resume--    */

.resume{
}

.resume-head{
	list-style: none;
}

.skills{
	overflow: hidden;
	
}

.lang{
	float: left;
	width: 65%;
	overflow: hidden;
}