/*- Custom style -*/

.img-circle {
    border-radius: 50%;
	width:25%;
	height:25%;
}

.official {
	width:10%;
	margin-right: 150px;
}


/* playlists */

.album-acdc{
	width:80%;
	height:80%;
}

.playlist-acdc{
	text-align: center;
	border: 3px solid;
	border-color: green;
}

.playlist-acdc > ul> li{
	list-style: none;
}

/*   --Page Resume--    */

.resume{
	margin: 0;
	padding: 0;
	border: 0;
	color: red;
}

.resume-head{
	color:green;

}

.resume-lang{
	color:blue;
}

.resume-comp{

}

.resume-edu{

}

.resume-exp{

}